{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>IG page </title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="{% static 'css/meyawo.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="match-score">

    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="https://www.ivo-georgiev.com">I.Georgiev</a>         
        </div>          
    </nav>

    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="{% static 'imgs/django-forum-logo.png' %}" class="about-img">
                </div>
                <div class="about-caption">
                    <h2 class="section-title mb-3">Django Forum</h2>
                    <p>
                         This is a basic forum website, that allows users to post Topics and Replies. They can also upvote/downvote a certain reply if they feel like it.
                    </p>
                    <button onclick="window.location.href='https://gitlab.com/IvoGeorgiev/django-forum';" class="btn-rounded btn btn-outline-primary mt-4">GitLab</button>
                    <button onclick="window.location.href='https://django-forum1.herokuapp.com/';" class="btn-rounded btn btn-outline-primary mt-4">Go To Forum</button>
                    </a>
                    <!-- <button onclick="window.location.href='https://www.youtube.com/watch?v=PJtz418hB1E';" class="btn-rounded btn btn-outline-primary mt-4">Short Video Demo </button> -->
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- portfolio section -->
    
  
 
    <div class="container">
        <footer class="footer">       
            <p class="mb-0">Made By Ivo Georgiev     Contact me at ivo.georgiev979@gmail.com</p>
        </footer>
    </div> <!-- end of page footer -->
	
	<!-- core  -->
    <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
	<script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'js/meyawo.js' %}"></script>

</body>
</html>
