{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>IG page </title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="{% static 'css/meyawo.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="https://www.ivo-georgiev.com">I.Georgiev</a>         
            <!-- <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Portfolio</a>
                </li>
                <li class="item">
                    <a class="link" href="#testmonial">Testmonial</a>
                </li>
                <li class="item">
                    <a class="link" href="#blog">Blog</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
                <li class="item ml-md-3">
                    <a href="components.html" class="btn btn-primary">Components</a>
                </li>
            </ul> -->
            <!-- <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
            </a> -->
        </div>          
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Ivo Georgiev</span>
            </h1>
            <p class="header-subtitle">BACKEND PYTHON DEVELOPER</p>            

            <!-- <button class="btn btn-primary">Visit My Works</button> -->
        </div>              
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="{% static 'imgs/man.jpg' %}" class="about-img">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p>
                        I’m a 25-year-old guy, striving to become a software developer. I started my coding journey in May 2022 when I applied for Telerik Academy’s Python course. The program was 6 months long and required at least 8 hours per day of attention. We usually had 3-4 hours of lectures in the morning, solved coding challenges or built projects in the afternoon and used whatever time we had left to study theory. The first 2 months were all about Python fundamentals and OOP. The 3rd month was my “favorite” as we sunk into Data Structures and Algorithms. In the 4th month we learned MySQL, FastAPI and some of the main Python web libraries. The final two months were all about making RESTful projects. The first was a Forum and the second was called Match Score.
                        <br>
                        <br>The most important thing I learned in these 6 months is that I’m in love with coding. I find solving complex tasks more interesting than any other kind of work I’ve tried. My main goal right now is learning as much as possible about Python and it’s associated technologies, writing higher quality, more optimized and readable code. 
              
                    </p>
                    <a href="{% static 'pdfs/resume.pdf' %}" download="CV">
                        <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
                    </a>
                    <button onclick="window.location.href='https://gitlab.com/IvoGeorgiev';" class="btn-rounded btn btn-outline-primary mt-4">GitLab</button>
                    <!-- <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button> -->
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">Portfolio</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <a href="match-score/" class="portfolio-card">
                        <img src="{% static 'imgs/match-score.png' %}" class="portfolio-card-img">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Match Score</h5>
                                <p class="font-weight-normal">Built with FastAPI</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="forum-system-api/" class="portfolio-card">
                        <img src="{% static 'imgs/forum-logo.png' %}" class="portfolio-card-img" >
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Forum System API</h5>
                                <p class="font-weight-normal">Built with FastAPI</p>
                            </span>                         
                        </span>                         
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="django-forum" class="portfolio-card">
                        <img src="{% static 'imgs/django-forum-logo.png' %}" class="portfolio-card-img">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Django Forum</h5>
                                <p class="font-weight-normal">Built with Django</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="portfolio-site" class="portfolio-card">
                        <img src="{% static 'imgs/portfolio-page-logo.png' %}" class="portfolio-card-img">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Portfolio Page</h5>
                                <p class="font-weight-normal">Built with Django</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->
    <div class="container">
        <footer class="footer">       
            <p class="mb-0">Made By Ivo Georgiev     Contact me at ivo.georgiev979@gmail.com</p>
        </footer>
    </div> <!-- end of page footer -->
	
	<!-- core  -->
    <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
	<script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'js/meyawo.js' %}"></script>

</body>
</html>
