{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>IG page </title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="{% static 'css/meyawo.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="match-score">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="https://www.ivo-georgiev.com">I.Georgiev</a>         
            <!-- <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Portfolio</a>
                </li>
                <li class="item">
                    <a class="link" href="#testmonial">Testmonial</a>
                </li>
                <li class="item">
                    <a class="link" href="#blog">Blog</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
                <li class="item ml-md-3">
                    <a href="components.html" class="btn btn-primary">Components</a>
                </li>
            </ul> -->
            <!-- <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
            </a> -->
        </div>          
    </nav><!-- End of Page Navbar -->

    <!-- page header -->


    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="{% static 'imgs/match-score.png' %}" class="about-img">
                </div>
                <div class="about-caption">
                    <h2 class="section-title mb-3">Match Score</h2>
                    <p>
                         This was the final team project in the Telerik Academy. We made a RESTful API with FastAPI which can organize and manage tournaments and leagues. 
                        <br> ➊ Users and visitors can see every every match, tournament and player profile. Users may also apply to be promoted to a Director.
                        <br> ➋ Directors can create matches and tournaments and also update the score of each match. 
                        <br> ➌ There are two types of tournaments - a "knockout" and "league". With every tournament creation, the matches are automatically created and the opponents are randomized.   
                        <br> ➍ Every User, Player Profile, Match and Tournament is saved on the hosted Database using an ORM.
                        <br> ➎ There is a Bearer Token authorization and all passwords are hashed.
                        <br> ➏ There are Unit Tests with a Mock DB.
                    </p>
                    <button onclick="window.location.href='https://gitlab.com/web-teamwork_team-9/match-score';" class="btn-rounded btn btn-outline-primary mt-4">GitLab</button>
                    <a href="{% static 'pdfs/finalproject.pdf' %}" download="Final Project">
                    <button class="btn-rounded btn btn-outline-primary mt-4">Download Project Description</button>
                    <!-- <a href="{% static 'imgs/finalproject.pdf' %}" download="How-to-download-file.pdf">
                        <button>Download File</button> -->
                    </a>
                    <button onclick="window.location.href='https://www.youtube.com/watch?v=PJtz418hB1E';" class="btn-rounded btn btn-outline-primary mt-4">Short Video Demo </button>
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- portfolio section -->
    
  
 
    <div class="container">
        <footer class="footer">       
            <p class="mb-0">Made By Ivo Georgiev     Contact me at ivo.georgiev979@gmail.com</p>
        </footer>
    </div> <!-- end of page footer -->
	
	<!-- core  -->
    <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
	<script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'js/meyawo.js' %}"></script>

</body>
</html>
